   TABLE {
   margin-left: auto;
   margin-right: auto;
   width: 800px; /* Ширина таблицы */
    border-collapse: collapse; /* Убираем двойные линии между ячейками */
   }
   TD, TH {
    padding: 3px; /* Поля вокруг содержимого таблицы */
    border: 3px solid black; /* Параметры рамки */
   }
   TD {
   font-size: 15px;
   text-align:center;
   color: white;
   background: #FF4040; /* Цвет фона */
   }
  </style>